:root {
    --main: #0F4C7BFF;
    --main-hover: rgb(12, 68, 110);
    --header: #0C3C61FF;
    --grey:#64748b;
    --table:#b9babe;
    --light:#ECEDEF;
    --light2:#D7DBE4;
    --redbtn:#912b2b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: var(--light);
    font-family: 'Poppins';
    overflow-x: hidden;
}

body.sidebar-hidden .navbar {
    margin-left: 0px !important;
}

body.sidebar-hidden .content {
    padding-left: 40px !important; /* Adjust or set to 0px when the sidebar is hidden */
}

.content {
    padding: 40px 40px 40px 260px; /* Default padding when sidebar is visible */
    transition: padding-left 0.3s ease;
}

.content-expanded {
    padding-left: 40px; /* Adjust this to 0 or a smaller value when sidebar is hidden */
}

button {
    cursor: pointer;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    font-family: 'Poppins';
}

.app {
    /* main {
        flex: 1 1 0;
        padding: 2rem;
        will-change: transform, opacity;

        @media (max-width: 1050px){
          justify-content: center;
          flex-wrap: wrap;
          margin: 0;
          flex-direction: column;
        }    
    } */
    .headerAndContent {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .fade-enter-from,
    .fade-leave-to {
        opacity: 0;
    }
    
    .fade-enter-active,
    .fade-leave-active {
        transition: opacity 0.3s ease-out;
    }    

}

.container {
    width: 100%;
    background-color: var(--grey);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
    color: var(--light);
    padding: 30px;

    .card-header {
        margin-bottom: 10px;
    }

    .card-body {
        width: 100%;

        .input-row {
            display: flex;
            gap: 20px;
        }

        .input-group {
            flex-basis: 100%;
            margin-bottom: 10px;
        }

        .input-group-text {
            font-size: 14px;
        }

        input {
            font-family: 'Poppins';
            height: 50px;
            width: 100%;
            border-radius: 10px;
            outline: none;
            border: none;
            padding: 10px;
            transition: all 0.3s ease-in-out;
            background-color: var(--light);
        }

        textarea {
            font-family: 'Poppins';
            height: 128px;
            width: 100%;
            resize: none;
            border-radius: 10px;
            outline: none;
            border: none;
            padding: 10px;
            transition: all 0.3s ease-in-out;
            background-color: var(--light);
        }

        input:hover, textarea:hover {
            background-color: var(--light2);
        }

        .buttons {
            margin-top: 20px;
            display: flex;
            gap: 10px;

            .btn {
                border: 2px solid var(--light);
                padding: 10px 20px;
                border-radius: 10px;
                color: var(--light);
                font-weight: 600;
                font-size: 14px;
                text-decoration: none;
                font-family: 'Poppins';
            }
        }
    }
}

.user-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--light2); */
}

.user-container {
    width: 70%;
    background-color: var(--header);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
    color: var(--light);
    padding: 30px;
    margin: 30px;

    .card-header {
        margin-bottom: 10px;
    }

    .card-body {
        width: 100%;

        .input-row {
            display: flex;
            gap: 20px;
        }

        .input-group {
            flex-basis: 100%;
            margin-bottom: 10px;
        }

        .input-group-text {
            font-size: 14px;
        }

        input {
            font-family: 'Poppins';
            height: 50px;
            width: 100%;
            border-radius: 10px;
            outline: none;
            border: none;
            padding: 10px;
            transition: all 0.3s ease-in-out;
            background-color: var(--light);
        }

        textarea {
            font-family: 'Poppins';
            height: 128px;
            width: 100%;
            resize: none;
            border-radius: 10px;
            outline: none;
            border: none;
            padding: 10px;
            transition: all 0.3s ease-in-out;
            background-color: var(--light);
        }

        input:hover, textarea:hover {
            background-color: var(--light2);
        }

        .buttons {
            margin-top: 20px;
            display: flex;
            gap: 10px;

            .btn {
                border: 2px solid var(--light);
                padding: 10px 20px;
                border-radius: 10px;
                color: var(--light);
                font-weight: 600;
                font-size: 14px;
                text-decoration: none;
                font-family: 'Poppins';
            }
        }
    }
}

.down {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    padding-top: 25px;
    width: 100%;

    p {
        font-size: 15px;
        color: black;
    }

    .primary {
        color: var(--main);
        font-weight: 500;

        &:hover {
            text-decoration: underline;
        }
    }

    .secondary {
        font-size: 14px;
        color: var(--header);

        &:hover {
            text-decoration: underline;
        }
    }
}